ul {
    border-left: 5px solid red;
    background-color: #f1f1f1;
     -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    background-color: #f1f1f1;
    width: 90%;
    max-width: 35rem;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;


}


ul li {

    width: 100%;
    font-size: 3rem;
    padding: 2rem;

}

h1{
    color: #e8dede;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 48px;
    text-decoration: underline;


}

nav, a:hover, ul a:active {
  color: #eca8b5;
}

